@page "/TextFormat"
@using AmadonBlazor.Data;
@using System.Text.Json;
@using UbStandardObjects.Objects;
@inject IJSRuntime JS
@inject TextService Service

<h3>@Title</h3>

<table class="table-borderless">
    <thead>
	<tr>
        <th><div class="p-3 mb-2 parClosed"><h2>Paper 1</h2> </div></th>
        <th><div class="p-3 mb-2 parClosed"><h2>Documento 1</h2> </div></th>
	</tr>
</thead>
<tbody>

@foreach (ParagraphsLine pLine in @Lines)
{
    <tr>
        @if (pLine.ParLeft != null)
        {
            <td>
                @((MarkupString)pLine.ParLeft)
            </td>
        }

        @if (pLine.ParMiddle != null)
        {
            <td>
                @((MarkupString)pLine.ParMiddle)
            </td>
        }

        @if (pLine.ParRight != null)
        {
            <td>
                @((MarkupString)pLine.ParRight)
            </td>
        }

        @if (pLine.HtmlCompare != null)
        {
            <td>
                @((MarkupString)pLine.HtmlCompare)
            </td>
        }
    </tr>
}

</tbody>
</table>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<ParagraphsLine> Lines { get; set; }

    [Parameter]
    public string Entry { get; set; }

    public class ParagraphsLine
    {
        public string ParLeft { get; set; }
        public string ParMiddle { get; set; }
        public string ParRight { get; set; }
        public string HtmlCompare { get; set; }
    }

    private async Task<List<ParagraphsLine>> GetParagraphs(string entry)
    {
        string jason = await TextService.GetHtml(entry);
        var options = new JsonSerializerOptions
            {
                AllowTrailingCommas = true,
                WriteIndented = true,
            };
        return JsonSerializer.Deserialize<List<ParagraphsLine>>(jason, options);
    }

    protected override async Task OnInitializedAsync()
    {
        string entry = "100:1:5";
        Lines = await GetParagraphs(entry);
    }

    protected override async void OnParametersSet()
    {
        if (Entry == null) Entry = "100:1:5";
        Lines = await GetParagraphs(Entry);
    }

}
