@using AmadonStandardLib.Classes;
@using AmadonStandardLib.Helpers;
@using AmadonStandardLib.UbClasses;

<div class="input-group input-group-sm mb-3">
    <span class="input-group-text">@Title</span>
    <select class="form-control" id="combo2" @bind="ComboValue">
        @foreach (var item in Items)
        {
            <option value="@item.Value" selected="@item.IsSelected" >@item.DisplayText</option>
        }
    </select>
</div>

@*    <select class="form-control" @onchange="@HandleOptionSelected">
*@

@code {

    [Parameter]
    public string Title { get; set; } = "";


    [Parameter]
    public short SelectedValue { get; set; } = -1;

    public string ComboValue { get; set; } = "English";


    private List<SelectListItem> Items { get; set; }


    protected override void OnInitialized()
    {
        try
        {
            base.OnInitialized();

            //// initialize the list of items
            Items = new List<SelectListItem>();
            //foreach (Translation trans in StaticObjects.Book.Translations)
            //{
            //    Items.Add(new SelectListItem { Value = trans.LanguageID.ToString(), DisplayText = trans.Description, IsSelected = trans.LanguageID == SelectedValue });
            //}
        }
        catch (Exception ex)
        {
            string xxx = ex.Message;
        }

    }

    private void HandleOptionSelected(ChangeEventArgs args)
    {
        SelectedValue = args != null && args.Value != null? Convert.ToInt16(args.Value) : (short)-1;
    }

    public class SelectListItem
    {
        public string Value { get; set; }
        public string DisplayText { get; set; }
        public bool IsSelected { get; set; }
    }


}
