@using Amadon.Services;
@using AmadonStandardLib.Classes;
@using AmadonStandardLib.Helpers;
@using AmadonStandardLib.InterchangeData;
@using AmadonStandardLib.UbClasses;
@using Blazorise

<h5>Search the subject index titles:</h5>

<TextEdit @ref="TextToSearchObject" Text="PersistentData.GenericData.TextSearchForIndexTitles" Placeholder="Search the subject index titles..." Size="Size.Small" TextChanged="@OnTextToSearchChanged" />

@if (showLoading)
{
    <Button Color="Color.Primary" Loading>Loading</Button>
}


@if (dropdownSubjectTitlesVisible)
{
    <br />
    <label for="select_subject_index">Subject index entries found</label>
    <Select TValue="string" ElementId="select_subject_index" TValue="int" SelectedValueChanged="@DropdownItemChecked">
        @foreach (var item in PersistentData.GenericData.IndexItemsFound)
        {
            <SelectItem Value="@item">@item</SelectItem>
        }
    </Select>
    <br />
}

@if (browserSubjectsFound)
{
    <div class="row">

        <Card WhiteText class="bg-dark">
            <CardBody>
            <CardTitle Size="5">@PersistentData.GenericData.TubIndex.Title</CardTitle>
                @foreach (IndexDetails detail in @PersistentData.GenericData.TubIndex.Details)
                    {
                        <CardText>
                            @detail.Text<br />
                        </CardText>
                    @foreach (string link in detail.Links)
                    {
                        <Button Color="Color.Primary" Outline Size="Size.Small" Margin="Margin.Is2" Clicked="@(()=> ButtonClicked(@link))">@link <Icon Name="IconName.ArrowRight" /></Button>
                    }
                }
            </CardBody>
        </Card>

    </div>
}

<Alert Color="@AlertColor" @bind-Visible="@alertVisible">
    <AlertMessage>
        @AlertMessage
    </AlertMessage>
    <CloseButton />
</Alert>


@code{
    bool alertVisible = false;
    string AlertMessage = "";
    Color AlertColor = Color.Success;
    bool dropdownSubjectTitlesVisible = false;
    bool browserSubjectsFound = false;
    bool showLoading = false;

    TextEdit TextOutputObject;
    TextEdit TextToSearchObject;

    SearchIndexService searchIndex = new SearchIndexService();

    string selectedValue;

    private Task ShowAlert(Color color, string message)
    {
        this.AlertColor = color;
        this.AlertMessage = message;
        this.alertVisible = true;
        return Task.CompletedTask;
    }


    async Task OnTextToSearchChanged(string value)
    {
        if (!string.IsNullOrEmpty(value) && value.Length >= 3)
        {
            PersistentData.GenericData.TextSearchForIndexTitles = value;
            PersistentData.GenericData.IndexItemsFound.Clear();
            LuceneIndexSearch luceneIndex = new LuceneIndexSearch();
            SearchIndexData data = new SearchIndexData();
            data.Query = value;
            data = await SearchIndexService.DoSearch(data);
            if (data == null)
            {
                await ShowAlert(Color.Danger, "Error executing subject index search");
            }
            else if (string.IsNullOrEmpty(data.ErrorMessage))
            {
                PersistentData.GenericData.IndexItemsFound.AddRange(data.ResultsList);
                dropdownSubjectTitlesVisible = true;
                if (data.ResultsList.Count == 1)
                {
                    await DropdownItemChecked(data.ResultsList[0]);
                }
            }
            else
            {
                await ShowAlert(Color.Danger, data.ErrorMessage);
                dropdownSubjectTitlesVisible = false;
            }
            StateHasChanged();
        }
    }


    protected async Task DropdownItemChecked(string option)
    {
        showLoading = true;
        StateHasChanged();
        PersistentData.GenericData.TubIndex = await SearchIndexService.GetSubjectItemsToShow(option);
        browserSubjectsFound = PersistentData.GenericData.TubIndex != null;
        showLoading = false;
        StateHasChanged();
    }

    protected void ButtonClicked(string option)
    {
        AmadonEvents.NewSubjectIndexEntry(TOC_Entry.FromHref(option));
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            StateHasChanged();
        }
    }

}